<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="<%= settings.root_url %>"><%= settings.base_title %></a>
		<ul class="nav">
			<form class="navbar-form pull-left">
				<select id="items">
					<% [10, 20, 30, 40, 50, 60, 70].each do |i| %>
					<option value='<%=i %>'<% if i == 30 then %> selected <% end %>><%= i %> labels</option>
					<% end %>
				</select>
				<select id="rotation">
					<option value="on">Rotation On</option>
					<option value="off">Rotation Off</option>
				</select>
			</form>
		</ul>
	</div>
</div>
<div class="container" id="main">
	<div class="content">
		<div id="wall"></div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		loadQuotes();

		$(window).resize(function() {
			clearTimeout(positioning);
   			positioning = setTimeout(positionLabels, 500);
		});

		$('#items').change(function() {
			loadQuotes();
		});

		$('#rotation').change(function() {
			loadQuotes();
		})
	});

	var currentTop = 65;

	function loadQuotes() {
		$('#wall').html('');
		$.ajax({
			url: '/api/get_quotes/' + $('#items option:selected').val(),
			dataType: 'json',
			success: function(data) {
				$.each(data, function(i, item) {
					createLabel(item);
				});
				$('.desklabel').fadeIn();
				positionLabels();
			},
			error: function(xhr, err) {
				alert('Unable to load wall!');
			}
		});
	}

	function createLabel(text)
	{
		text = '<span>' + text.toString().replace(/\n/g, '</span><br /><span>') + '</span>';	
		$('#wall').append('<div class="desklabel" style="top: ' + currentTop + 'px;">' + text + '</div>');
		currentTop += 80;
	}

	var positioning;
	var locs;

	var trim_width = 0;
	var trim_height = 100;
	var max_nudge = 100;

	function positionLabels() {
		locs = new Array();

		var w = $(window).width() - trim_width;
		var h = $(window).height() - trim_height;

		if (h < 0 || w < 0) {
			return;
		}

		$('.desklabel').each(function(item) {
			var nudge = 0;
			do {

				var onPage;
				do
				{
					var x = Math.floor(Math.random() * w) + (trim_width / 2);
					var y = Math.floor(Math.random() * h) + (trim_height / 2);
					var x2 = x + $(this).width();
					var y2 = y + $(this).height();

					if (x2 > w || y2 > h) {
						onPage = false;
					} else {
						onPage = true;
					}
				}
				while (!onPage);

				nudge += 1;

			} while (!checkPosition(x, x2, y, y2) && nudge < max_nudge);

			var r = Math.floor(Math.random() * 5);

			var neg = Math.floor(Math.random() * 2);

			if (neg == 1) {
				r = '-' + r;
			}

			if ($('#rotation option:selected').val() == "on") {
				$(this).animate({
					'top': y, 
					'left': x,
				 }, 'fast')
				.css('-webkit-transform', 'rotate(' + r + 'deg)')
				.css('-moz-transform', 'rotate(' + r + 'deg)')
				.css('-o-transform', 'rotate(' + r + 'deg)')
				.css('-ms-transform', 'rotate(' + r + 'deg)')
				.css('transform', 'rotate(' + r + 'deg)');
			} else {
				$(this).animate({
					'top': y, 
					'left': x,
				 }, 'fast');
			}
		});
	}

	function checkPosition(x, x2, y, y2) {
		var index = locs.length;

	 	for (i = 0; i < index; i++) {
	 		// collision detection

	 		var tx = locs[i][0];
	 		var tx2 = locs[i][1];
	 		var ty = locs[i][2];
	 		var ty2 = locs[i][3];

			if (x2 >= tx && x <= tx2 && y2 >= ty && y <= ty2) {
				return false;
			}
	 	}

	 	locs[index] = new Array();
	 	locs[index][0] = x;
	 	locs[index][1] = x2;
	 	locs[index][2] = y;
	 	locs[index][3] = y2;

		return true;
	}
</script>

<style type="text/css">
.desklabel {
	display: none;
	position: absolute;
	left: 40px;
	text-align: center;
}
.desklabel span {
	background-color: white;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	padding: 3px;
	margin: 3px;
	white-space: nowrap;
}
</style>